<table>
  <tr>

    <th>Sl. No</th>
    <th>Todo</th>
    <th>Action</th>
  </tr>
  <tr *ngFor="let todoItem of todoList" class="tr">
    <td >{{ todoItem.id}}</td>
    <td *ngIf="updateField == todoItem.id "><input  [(ngModel)]="todoItem.todoItem" /></td>
    <td *ngIf="updateField != todoItem.id ">{{todoItem.todoItem}} <button (click)="edit(todoItem.id)">Edit</button></td>
    <td><button (click)="deleteItem(todoItem.id)">Delete</button>
      <button (click)="onUpdate(todoItem)">Update</button></td>
  </tr>

</table>
<input style="width:20%" [(ngModel)]="inputValue"/><button (click)="addItem()">ADD TODO ITEMS</button>
<router-outlet></router-outlet>
